<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('./common/header.ejs') %>

  <!-- Keyword Search Function -->
  <script type="text/javascript">

    const sendAjax = (method, url, data) => {
      // content-type을 설정하고 데이터 송신
      var xhr = new XMLHttpRequest();
      xhr.open(method, url);
      xhr.setRequestHeader('Content-type', "application/json");
      xhr.send(data);
      
      // 데이터 수신이 완료되면 표시
      xhr.addEventListener('load', () => {
        console.log(xhr.responseText);
        alert(xhr.responseText);
      });
    }

    //keyword badge 태그 생성함수
    const badgeFactory = (value) => {
      return `<a href="#" class="badge badge-info result-badge" >${value}</a>`
    }

    //
    const searchKeyword = (input) => {
      let keywords = document.querySelectorAll('.keyword-badge');      
      let resultDiv = document.querySelector('.search-result');

      //존재하는 키워드 중 검색어와 일치하는 키워드 검색
      let results = [];
      keywords.forEach(elem => {
        if(elem.name.includes(input))
          results.push(badgeFactory(elem.name.split('_')[0]));
      });

      if(results.length == 0) {
        alert('해당하는 데이터가 존재하지 않습니다.');
      } else {
        console.log(results);
        resultDiv.innerHTML = results.join('&nbsp;');
      }

    }

    // 키워드-카테고리 검색 폼 제출
    const searchSubmit = () => {
        var searchForm = document.searchForm;
        var type = searchForm.searchType.value;
        var searchInput = searchForm.searchInput.value;
        
        console.log(type);

        if(type == 'Choose...') {
          alert('검색타입을 선택해주세요.')
        } else {
          console.log(`${searchInput} 검색...`);
          searchKeyword(searchInput);
        }
    }  
  </script>

  <script type="text/javascript">
    const deleteKeyword = (key) => {
      let delConfirm = confirm(`'${key.split('_')[0]}' 키워드를 삭제하시겠습니까? `);
      if(!delConfirm) {
        console.log('삭제취소.');
      } else {
        console.log('삭제!');
        sendAjax('DELETE', `http://localhost:3000/keyword/${key}`, null);
      }

    }
  </script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include ('./common/sidebar.ejs') %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include ('./common/topbar.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Keyword</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->

          <!-- Keyword Search Card -->
          <div class="card shadow">
            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">키워드 조회</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form name="searchForm" onsubmit="searchSubmit(); return false;" class="form-inline">
                  <select name="searchType" class="custom-select" id="inlineFormCustomSelectPref">
                    <option selected>Choose...</option>
                    <option value="1">Category</option>
                    <option value="2">Keyword</option>

                    <option value="3">All</option>
                  </select>
                
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">                    
                    <input type="text" name="searchInput" class="form-control" id="input-keyword" required>
                  </div>
                
                  <button type="submit" class="btn btn-primary my-1">조회</button>
                </form>
                <br>
                <div class="search-result">
                </div>
              </div>
          </div>
          <!-- End of Keyword Search Card -->
          <br>
          <!-- keyword manage Card -->
          <div class="card shadow">
              <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">키워드 관리</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">keyword menu</div>
                    <a class="dropdown-item" href="#">Add Keyword</a>                      
                  </div>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-4 col-lg-5">
                      <!-- List group -->
                      <div class="list-group" id="myList" role="tablist">
                          <% data.forEach(function (val, index) { %>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#category-<%= index %>" role="tab"><%= val.category %>
                            </a>
                          <% }) %>
                      </div>
                      <br>
                      <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="category name" aria-label="category name" aria-describedby="button-addon2">
                          <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
                          </div>
                      </div>
                  </div>
      
                  <div class="col-xl-8 col-lg-7">    
                      <!-- Tab panes -->
                      <div class="tab-content">
                          <% data.forEach(function (val, index) { %>
                              <div class="tab-pane" id="category-<%= index %>" role="tabpanel">
                                  <% val.keyword.forEach(function (key) { %>
                                    <% let split_key = key.split('_')[0]; %>
                                      <!-- <span class="badge badge-pill badge-success"><%= key %></span> -->
                                      <a href="#" class="badge badge-info keyword-badge" name="<%= key %>" onclick="deleteKeyword('<%= key %>')" ><%= split_key %></a>
                                  <% }) %>
                                  <a href="#" class="badge badge-primary" data-toggle="modal" data-target="#addKeywordModal" >+ ADD</a>
                              </div>
                          <% }) %>
                      </div>
                      <!-- <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="category name" aria-label="category name" aria-describedby="button-addon2">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
                          </div>
                      </div> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- End of keyword manage Card -->
         

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include ('./common/footer.ejs') %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- keyword Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Keyword Name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          키워드를 삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- add keyword Modal -->
  <div class="modal fade" id="addKeywordModal" tabindex="-1" role="dialog" aria-labelledby="addKeywordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Keyword</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Category</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="category">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputKeyword" class="col-sm-2 col-form-label">Keyword</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputKeyword">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">ADD</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>